<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.kalarilab">

    <uses-feature android:name="android.hardware.camera2.full" />
    <uses-feature
        android:name="android.hardware.camera2.front"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.autofocus"/>
    <uses-feature android:name="android.hardware.camera.front"/>
    <uses-feature android:name="android.hardware.camera.front.autofocus"/>

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="come.android.vending.BILLING" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".Activities.App"
        android:allowBackup="false"
        android:requestLegacyExternalStorage="true"
    android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.KalariLab"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl"

        >
        <service
            android:name="com.google.firebase.messaging.FirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/logo" />
        <!-- Set color used with incoming notification messages. This is used when no color is set for the incoming
             notification message. See README(https://goo.gl/6BKBk7) for more. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/KalariLabMain" />

        <activity
            android:name=".Activities.FeedbackActivity"
            android:exported="false"
            android:parentActivityName=".Activities.ChallengesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.ChallengesActivity" />
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activities.TermsAndServices"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activities.PostViewer"
            android:exported="false"
            android:parentActivityName=".Activities.AdminPanelActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.AdminPanelActivity" />
        </activity>
        <activity
            android:name=".Activities.AdminPanelActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Fragments.Camera2VideoFragment"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activities.ChallengesActivity"
            android:exported="false"
            android:parentActivityName=".Activities.MainActivity">
            <meta-data
                android:name="android.app.lib_name"
                android:exported="true"
                android:value="" />
        </activity>
        <activity
            android:name=".Activities.LessonDisplayActivity"
            android:exported="true"
            android:parentActivityName=".Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <activity
            android:name=".Activities.AvatarSelectionActivity"
            android:exported="true"
            android:theme="@style/Theme.KalariLab.SlidrActivityTheme" />
        <activity
            android:name=".Activities.ChangePasswordActivity"
            android:exported="true"
            android:parentActivityName=".Activities.Settings"
            android:theme="@style/Theme.KalariLab.SlidrActivityTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.Settings" />
        </activity>
        <activity
            android:name=".Activities.Settings"
            android:exported="false"
            android:theme="@style/Theme.KalariLab.SlidrActivityTheme" />
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.OnBoarding"
            android:exported="true" />
        <activity
            android:name=".Activities.PosturesActivity"
            android:exported="true"
            android:parentActivityName=".Activities.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.MainActivity" />
        </activity>
        <activity
            android:name=".Activities.ProfileInfoActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.LogInActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.Register"
            android:exported="true" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true" />
    </application>

</manifest>